# ======================== Elasticsearch Configuration =========================
cluster.name: whoosh-elk
node.name: "{{ node_name }}"
node.master: true
node.data: true
network.host: "{{ ansible_host }}"
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
http.port: 9200
cluster.initial_master_nodes: ["{{ node1 }}", "{{ node2 }}", "{{ node3 }}"]
discovery.zen.minimum_master_nodes: 2
discovery.zen.ping.unicast.hosts: ["{{ node1 }}", "{{ node2 }}", "{{ node3 }}"]

