# Default server configuration
#
upstream elk-servers {
        server {{ node1 }}:9200;
        server {{ node2 }}:9200;
        server {{ node3 }}:9200;
    }

server {
        listen 80;

   
#       root /var/www/html;

        # Add index.php to the list if you are using PHP
        index index.html index.htm index.nginx-debian.html;

        server_name {{ node_proxy }};

        location / {
  
proxy_pass http://elk-servers;
}

}
